<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jufan.dao.QiaoRongDao">

    <select id="selectQiaoRongCount" parameterType="java.lang.String" resultType="java.util.Map">

        SELECT * FROM pdop_product

    </select>


    <select id="selectRiskCount" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT count(*) from tb_shcis_reqlog
        WHERE  DATE_FORMAT(REQUEST_TIME,'%Y-%m') = #{date}
    </select>

</mapper>