<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jufan.dao.TableManagerDao">


    <update id="createJfTable" parameterType="java.lang.String">
       CREATE TABLE `${tableName}`(
  "ID" varchar(36) NOT NULL,
  "product_id" varchar(36) NOT NULL COMMENT '产品ID',
  "URL" varchar(256) DEFAULT NULL COMMENT '请求URL',
  "NAME" varchar(50) DEFAULT NULL COMMENT '姓名',
  "CERT_NUMBER" varchar(50) DEFAULT NULL COMMENT '身份证号码',
  "REQUEST_PARAM" mediumtext COMMENT '请求参数',
  "RESPONSE_RAW" mediumtext COMMENT '返回值',
  "ORIGINAL_RESPONSE_RAW" mediumtext COMMENT '原始输出字符串',
  "STATUS" varchar(5) DEFAULT NULL COMMENT '状态',
  "CREATE_DATETIME" timestamp NOT NULL DEFAULT '2000-01-01 00:00:00' COMMENT '创建时间',
  "CREATE_OPERATOR_ID" varchar(36) DEFAULT NULL COMMENT '创建人',
  "LAST_UPDATE_DATETIME" timestamp NOT NULL DEFAULT '2000-01-01 00:00:00' COMMENT '最后修改时间',
  "LAST_UPDATE_OPERATOR_ID" varchar(36) DEFAULT NULL COMMENT '最后修改人',
  "EXT_INFO" text COMMENT '扩展信息(JSON)',
  PRIMARY KEY ("ID")
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
    </update>

    <update id="createQueryTable" parameterType="java.lang.String">
        CREATE TABLE `${tableName}`  (
  "ID" varchar(36) NOT NULL,
  "PRODUCT_ID" varchar(36) NOT NULL COMMENT '产品id',
  "ORG_ID" varchar(36) NOT NULL COMMENT '组织id',
  "USER_ID" varchar(36) NOT NULL COMMENT '操作人id',
  "DATA_SOURCE_ID" varchar(36) DEFAULT NULL COMMENT '数据库id',
  "JF_REQLOG_ID" varchar(36) NOT NULL COMMENT '结果id',
  "BATCH_ID" varchar(36) NOT NULL COMMENT '批次id',
  "REQUEST_PARAM" mediumtext COMMENT '请求参数',
  "QUERY_TYPE" varchar(2) DEFAULT NULL COMMENT '查询类型，目前四种(1:单产品单用户,2:单产品多用户,3:多产品单用户,4:多产品多用户)',
  "CREATE_DATETIME" timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建日期',
  "IS_CHARGE" varchar(2) DEFAULT NULL COMMENT '是否计费(空：表示未统计；1：计费；2：不计费)',
  PRIMARY KEY ("ID")
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
    </update>

    <update id="dropTable" parameterType="java.lang.String">
            drop table ${tableName}
    </update>

    <select id="checkTable" parameterType="java.lang.String" resultType="java.lang.Integer">
      SELECT
	    COUNT(1) AS count
      FROM
	    INFORMATION_SCHEMA. TABLES
      WHERE
      TABLE_NAME = #{tableName};
    </select>


</mapper>