<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jufan.dao.TableManagerDao">



    <update id="createJfTable" parameterType="java.lang.String">
        CREATE TABLE ${tableName}(
          `id` BIGINT(20) UNSIGNED NOT NULL AUTO_INCREMENT COMMENT 'id',
          `product_id` VARCHAR(50) NOT NULL DEFAULT '' COMMENT '产品ID',
          `url` VARCHAR(50) NOT NULL DEFAULT '' COMMENT '请求URL',
          `name` VARCHAR(50) NOT NULL DEFAULT '' COMMENT '姓名',
          `cert_number` VARCHAR(50) NOT NULL DEFAULT '' COMMENT '身份证号码',
          `request_param` VARCHAR(50) NOT NULL DEFAULT '' COMMENT '请求参数',
          `response_raw` VARCHAR(50) NOT NULL DEFAULT '' COMMENT '返回值',
          `original_response_raw` VARCHAR(50) NOT NULL DEFAULT '' COMMENT '原始输出字符串',
          `status` VARCHAR(50) NOT NULL DEFAULT '' COMMENT '状态',
          `create_datetime` DATETIME NOT NULL DEFAULT '1000-01-01 00:00:00' COMMENT '创建时间',
          `create_operator_id` VARCHAR(50) NOT NULL DEFAULT '' COMMENT '创建人',
          `last_update_datetime` DATETIME NOT NULL DEFAULT '1000-01-01 00:00:00' COMMENT '最后修改时间',
          `last_update_operator_id` VARCHAR(50) NOT NULL DEFAULT '' COMMENT '最后修改人',
          `ext_info` VARCHAR(50) NOT NULL DEFAULT '' COMMENT '扩展信息(JSON)',
            PRIMARY KEY (`id`)
          )ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT '${tableName}';
    </update>

    <update id="createQueryTable" parameterType="java.lang.String">
        CREATE TABLE ${tableName}(
            `id` BIGINT(20) UNSIGNED NOT NULL AUTO_INCREMENT COMMENT 'id',
            `product_id` VARCHAR(50) NOT NULL DEFAULT '' COMMENT '产品id',
            `org_id` VARCHAR(50) NOT NULL DEFAULT '' COMMENT '组织id',
            `user_id` VARCHAR(50) NOT NULL DEFAULT '' COMMENT '操作人id',
            `data_source_id` VARCHAR(50) NOT NULL DEFAULT '' COMMENT '数据库id',
            `jf_reqlog_id` VARCHAR(50) NOT NULL DEFAULT '' COMMENT '结果id',
            `batch_id` VARCHAR(50) NOT NULL DEFAULT '' COMMENT '批次id',
            `request_param` VARCHAR(50) NOT NULL DEFAULT '' COMMENT '请求参数',
            `create_datetime` DATETIME NOT NULL DEFAULT '1000-01-01 00:00:00' COMMENT '创建日期',
            `query_type` VARCHAR(50) NOT NULL DEFAULT '' COMMENT '查询类型',
            `ids` VARCHAR(50) NOT NULL DEFAULT '' COMMENT 'ids',
            `group_sql` VARCHAR(50) NOT NULL DEFAULT '' COMMENT 'groupSql',
            `is_charge` VARCHAR(50) NOT NULL DEFAULT '' COMMENT '是否计费',
            PRIMARY KEY (`id`)
        )ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT '${tableName}';
    </update>

    <update id="dropTable" parameterType="java.lang.String">
            drop table ${tableName}
    </update>

    <select id="checkTable" parameterType="java.lang.String" resultType="java.lang.Integer">
      SELECT
	    COUNT(1) AS count
      FROM
	    INFORMATION_SCHEMA. TABLES
      WHERE
      TABLE_NAME = #{tableName};
    </select>



</mapper>