<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jufan.dao.TableManagerDao">



    <update id="createTable" parameterType="java.lang.String">


    </update>

    <select id="checkTable" parameterType="java.lang.String" resultType="java.lang.Integer">
      SELECT
	    COUNT(1) AS count
      FROM
	    INFORMATION_SCHEMA. TABLES
      WHERE
      TABLE_NAME = #{tableName};
    </select>



</mapper>