<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
	    http://www.springframework.org/schema/aop
	    http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--定时任务的主类-->
    <bean id="timedTask" class="com.jufan.Timer.TimedTask"></bean>

    <!--每天整点执行-->
    <!--JobDetail的配 是否允许任务并发执行。当值为false时，表示必须等到前一个线程处理完毕后才再启一个新的线程-->
    <bean id="timedTaskJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="timedTask"></property>
        <property name="targetMethod" value="queryDataByAnHour"></property>
        <property name="concurrent" value="false"></property>
    </bean>
    <!-- quartz-2.x的配置 -->
    <bean id="timedTaskTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="timedTaskJob" />
        <property name="cronExpression" value="0 0 0/1 * * ?" />
    </bean>

    <!--每月月初执行-->
    <bean id="timedTaskJob2" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="timedTask"></property>
        <property name="targetMethod" value="dropTableByMonth"></property>
        <property name="concurrent" value="false"></property>
    </bean>
    <!-- quartz-2.x的配置 -->
    <bean id="timedTaskTrigger2" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="timedTaskJob2" />
        <property name="cronExpression" value="0 0 1 1 * ?" />
    </bean>

    <bean id="startQuertz" lazy-init="false" autowire="no" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="timedTaskTrigger" />
                <ref bean="timedTaskTrigger2" />
            </list>
        </property>
        <property name="waitForJobsToCompleteOnShutdown" value="true"/>
    </bean>







</beans>
